<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3
    bg-white border-bottom fixed-top shadow-sm">
  <img ngSrc="/images/main-logo.png" alt="logo" class="logo" style="max-height: 70px;" height="73" width="136">
  <nav class="my-2 text-uppercase fs-5">
    <a href="#" class="p-2">Home</a>
    <a href="#" class="p-2">Shop</a>
    <a href="#" class="p-2">About</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no"> 10 </div>
    </a>
    <a href="" class="btn btn-outline-secondary me-2">Login</a>
  </div>
</header>
